{% extends "cms/base.html" %}

{% block title %}シャンプーの一覧{% endblock title %}

{% block content %}
    <h4 class="mt-4 border-bottom">シャンプーの一覧</h4>
    <a href="{% url 'cms:shampoo_add' %}" class="btn btn-primary btn-sm my-3">追加</a>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">シャンプー名</th>
          <th scope="col">メーカー</th>
          <th scope="col">値段</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        {% for shampoo in shampoos %}
        <tr>
          <th scope="row">{{ shampoo.id }}</th>
          <td>{{ shampoo.name }}</td>
          <td>{{ shampoo.publisher }}</td>
          <td>{{ shampoo.price }}</td>
          <td>
            <a href="{% url 'cms:shampoo_mod' shampoo_id=shampoo.id %}" class="btn btn-outline-primary btn-sm">修正</a>
            <a href="{% url 'cms:shampoo_del' shampoo_id=shampoo.id %}" class="btn btn-outline-danger btn-sm">削除</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}